.expense-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  align-self: center;
}

.close-button {
  margin-left: auto;
}

mat-icon {
  color: var(--mat-sys-error);
}

.info-header {
  font-size: smaller;
}

.info-header:not(:first-child) {
  margin-top: 20px;
}

.info-text {
  font-size: large;
  font-weight: bolder;
}
