<h2 mat-dialog-title class="expense-header">
  <div class="header-text">Expense</div>
  <button mat-icon-button class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content>
  <div class="info-header">Amount</div>
  <div class="info-text">{{ expense.amount | currencyFormat }}</div>
  <div class="info-header">Category</div>
  <div class="info-text">{{ expense.category }}</div>
  <div class="info-header">Description</div>
  <div class="info-text">{{ expense.description }}</div>
  <div class="info-header">Date</div>
  <div class="info-text">{{ expense.date }}</div>
</mat-dialog-content>
