.expense-container {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--mat-sys-primary);
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.expense-container:hover {
  background-color: rgb(235, 235, 235);
}

.category-text {
  text-align: center;
  flex: 1;
}

.date-text {
  text-align: right;
  flex: 1;
}

.amount-text {
  text-align: left;
  flex: 1;
}

.add-new-button {
  display: flex;
  justify-self: right;
  margin-bottom: 8px;
}

.expense-list {
  display: grid;
  gap: 5px;
  margin-right: 15px;
}
