<h2 class="welcome-messege">Welcome {{ username }}!</h2>
<div class="expense-list-section">
  <div class="add-new-button-container">
    <button
      mat-flat-button
      class="add-new-button"
      (click)="openNewExpenseDialog()"
    >
      Add Expense
    </button>
  </div>
  <div class="expense-list">
    <div class="expense-list-headers">
      <span class="amount-header">Amount</span>
      <span class="category-header">Category</span>
      <span class="description-header">Description</span>
      <span class="date-header">Date</span>
    </div>
    @for (expense of (expenses$ | async); track expense._id) {
    <a class="expense-container" (click)="openExpenseDialog(expense)">
      <span class="amount-text">{{ expense.amount | currencyFormat }}</span>
      <span class="category-text">{{ expense.category }}</span>
      <span class="description-text">{{ expense.description }}</span>
      <span class="date-text">{{ expense.date }}</span>
      <span>
        <button
          mat-icon-button
          (click)="openEditExpenseDialog($event, expense)"
          class="edit-button"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="deleteExpense($event, expense._id)"
          class="delete-button"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </a>
    }
  </div>
</div>
