.expense-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  align-self: center;
}

.close-button {
  margin-left: auto;
}

mat-icon {
  color: var(--mat-sys-error);
}

.edit-expense-form {
  display: grid;
}

.amount-input {
  margin-top: 4px;
}
