<mat-expansion-panel [expanded]="true" class="filter-container">
  <mat-expansion-panel-header>Filter</mat-expansion-panel-header>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchTerm" (input)="onFilterChange()" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select
      [(ngModel)]="selectedCategory"
      (selectionChange)="onFilterChange()"
    >
      <mat-option>All</mat-option>
      <mat-option value="Housing">Housing</mat-option>
      <mat-option value="Food">Food</mat-option>
      <mat-option value="Transportation">Transportation</mat-option>
      <mat-option value="Insurance">Insurance</mat-option>
      <mat-option value="Other">Other</mat-option>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>
