<div class="login-page">
  <h2>Login</h2>
  <div class="form-fields">
    <mat-form-field>
      <mat-label>Username or Email</mat-label>
      <input
        matInput
        required
        type="text"
        placeholder="Username or Email"
        [(ngModel)]="username"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        required
        type="text"
        placeholder="Password"
        [(ngModel)]="password"
      />
    </mat-form-field>
    <button
      mat-flat-button
      (click)="login()"
      [disabled]="!username || !password"
    >
      Login
    </button>
  </div>
</div>
